<a href="https://colab.research.google.com/github/nsai93/AI-MLOps/blob/main/Python_OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#write code for sum number

print(2+2)

4

In [ ]:
write the code for sum number just testing

create a College class in Python with methods for department, course, student, result, and placement, along with some basic attributes and methods

In [ ]:
class College:
    def __init__(self, name, location):
        self.name = name
        self.location = location
        self.departments = {}
        self.courses = {}
        self.students = {}
        self.results = {}
        self.placements = {}

    def add_department(self, dept_name, dept_head):
        self.departments[dept_name] = dept_head

    def add_course(self, course_code, course_name, department):
        if department in self.departments:
            self.courses[course_code] = {'name': course_name, 'department': department}
        else:
            print(f"Error: Department '{department}' does not exist.")

    def add_student(self, student_id, student_name, course_code):
        if course_code in self.courses:
            self.students[student_id] = {'name': student_name, 'course': course_code}
        else:
            print(f"Error: Course '{course_code}' does not exist.")

    def add_result(self, student_id, subject, marks):
        if student_id in self.students:
            if student_id not in self.results:
                self.results[student_id] = {}
            self.results[student_id][subject] = marks
        else:
            print(f"Error: Student with ID '{student_id}' does not exist.")

    def add_placement(self, student_id, company_name):
        if student_id in self.students:
            self.placements[student_id] = company_name
        else:
            print(f"Error: Student with ID '{student_id}' does not exist.")


# Example usage
my_college = College("ABC College", "City XYZ")

my_college.add_department("Computer Science", "Dr. John Doe")
my_college.add_department("Electrical Engineering", "Prof. Jane Smith")

my_college.add_course("CS101", "Introduction to Computer Science", "Computer Science")
my_college.add_course("EE101", "Introduction to Electrical Engineering", "Electrical Engineering")

my_college.add_student("1001", "Alice", "CS101")
my_college.add_student("1002", "Bob", "EE101")

my_college.add_result("1001", "Math", 90)
my_college.add_result("1001", "Physics", 85)

my_college.add_placement("1001", "TechCorp")

In [ ]:
ab = my_college.add_department("Computer Science", "Dr. John Doe")

In [ ]:
class cal:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def add(self):
    return self.a+self.b

  def sub(self):
    return self.a-self.b
  def mul(self):
    return self.a*self.b
  def div(self):
    return self.a/self.b

c1 = cal(12,13)
print(c1.add())
print(c1.sub())
print(c1.mul())
print(c1.div())

25
-1
156
0.9230769230769231

In [ ]:
# store
#gor_item
#elect_item
#billing

class store:
  def __init__(self,name,location):
    self.name=name
    self.location = location

  def item(self,gor_item,elect_item):
    self.gor_item=gor_item
    self.elect_item=elect_item
    return self.gor_item, self.elect_item

  def billing(self,gor_item_price,elect_item_price):
    self.gor_item_price_in_rupe = gor_item_price
    self.elect_item_price_in_rupe = elect_item_price
    return self.gor_item_price_in_rupe, self.elect_item_price_in_rupe


st = store("d-mart", "HSR")
print(st.item(10,2))
print(st.billing(300,1000))

(10, 2)
(300, 1000)

In [ ]:
class ab:
  def __init__(self,d,e):
    self.pa = d
    self.fa = e

  def add(self):
    return self.pa+self.fa

bb = ab(12,13)
print(bb.add())

25

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

modelX = Vehicle(240, 18)
print(modelX.max_speed, modelX.mileage)

240 18